@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.8rem 3rem;
    z-index: 100;
    background-color: #fff;
}

.right a {
    margin-left: 50px;
    text-decoration: none;
    color: black;
    transition: 0.5s;
}

.right a:hover,
.right a.active {
    color: #257a51;
    border: none;
}

.isi {
    margin: 75px 35px;
    width: 50%;
    position: relative;
}

.isi span {
    color: #257a51;
}

.isi h1 {
    font-size: 55px;
}

.content {
    display: flex;
}

.pict {
    margin: -460px 720px;
    position: relative;
}

.button {
    margin-top: 10px;
}

.button a {
    font-size: 20px;
    color: white;
    background-color: #257a51;
    border: none;
    border-radius: 24px;
    padding: 10px 15px;
    text-decoration: none;
    margin-right: 25px;
    transition: 0.5s;
}

.button a:hover {
    color: white;
    background-color: #4070f4;
}

.sosmed {
    margin: 5px 0 0 10px;
    display: flex;
    gap: 1rem;
    transition: 0.5s;
}

.sosmed:hover {
    color: #257a51;
}

.bottom {
    margin: 240px 0 0 ;
    height: 35vh;
    background-color: #d7caca;
    align-items: center;
    display: flex;
    position: relative;
    justify-content: center;
    gap: 5rem;
}

.info {
    max-width: 30%;
}

.info a{
    text-decoration: none;
    color: #000;
    transition: 0.5s;
}

.info a:hover{
    color: #257a51;
}